@model UserIdentity.Models.RoleEditModel
@{
    ViewBag.Title = "Edit";
}

<h2>Rol Güncelle</h2>
<hr />
@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />


    <div class="panel panel-primary">
        <div class="panel-heading">
            Add To @Model.Role.Name
        </div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="3">Kullanıcı bulunamadı!</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Rol</th>
                </tr>
                foreach (var user in Model.NonMembers)
                {
                    <tr>
                        <td>
                            @user.UserName
                        </td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Removo From @Model.Role.Name
            </div>
            <table class="table table-striped">
                @if (Model.Members.Count() == 0)
                {
                    <tr>
                        <td colspan="3">Kullanıcı bulunamadı!</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>Kullanıcı Adı</th>
                        <th>Rol</th>
                    </tr>
                    foreach (var user in Model.Members)
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">
            Güncelle
        </button>
    </div>
}